src/hpc-server/hpc-dto/src/main/resources/schema/HpcDataManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
 * HpcDataManagement.xsd
 *
 * Copyright SVG,  Inc.
 * Copyright Leidos Biomedical Research, Inc
 * 
 * Distributed under the OSI-approved BSD 3-Clause License.
 * See http://ncip.github.com/HPC/LICENSE.txt for details.
 *
 * @author <a href="mailto:eran.rosenberg@nih.gov">Eran Rosenberg</a>
 * @version $Id$
 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0"
	xmlns:hpc-domain-datamanagement="http://hpc.nci.nih.gov/domain/datamanagement"
	xmlns:hpc-domain-datatransfer="http://hpc.nci.nih.gov/domain/datatransfer"
	xmlns:hpc-domain-metadata="http://hpc.nci.nih.gov/domain/metadata"
	xmlns:hpc-dto-datamanagement="http://hpc.nci.nih.gov/dto/datamanagement"
	targetNamespace="http://hpc.nci.nih.gov/dto/datamanagement"
	elementFormDefault="unqualified">
	
	<xsd:import namespace="http://hpc.nci.nih.gov/domain/datamanagement"
		        schemaLocation="HpcDataManagementTypes.xsd" />
	<xsd:import namespace="http://hpc.nci.nih.gov/domain/datatransfer"
		        schemaLocation="HpcDataTransferTypes.xsd" />
	<xsd:import namespace="http://hpc.nci.nih.gov/domain/metadata"
		        schemaLocation="HpcMetadataTypes.xsd" />

	<!-- Collection DTO -->
	<xsd:element name="HpcCollectionRegistrationDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="metadataEntries" 
				             type="hpc-domain-metadata:HpcMetadataEntry" 
					         maxOccurs="unbounded" />
				<xsd:element name="createParentCollections" type="xsd:boolean" minOccurs="0" />
				<xsd:element name="parentCollectionMetadataEntries" 
				             type="hpc-domain-metadata:HpcMetadataEntry" 
					         maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="HpcCollectionDTO">
		<xsd:sequence>
			<xsd:element name="collection" type="hpc-domain-datamanagement:HpcCollection" />
			<xsd:element name="metadataEntries" type="hpc-domain-metadata:HpcMetadataEntries" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="HpcCollectionListDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="collections"
					             type="hpc-dto-datamanagement:HpcCollectionDTO"
						         minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="collectionPaths" type="xsd:string"
						         minOccurs="0" maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:element name="page" type="xsd:int" minOccurs="0" />
				<xsd:element name="limit" type="xsd:int" minOccurs="0" />
				<xsd:element name="totalCount" type="xsd:int" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<!-- Data Object DTO -->
	<xsd:element name="HpcDataObjectRegistrationDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="source"
				             type="hpc-domain-datatransfer:HpcFileLocation" />
				<xsd:element name="callerObjectId" type="xsd:string" />
				<xsd:element name="metadataEntries" 
				             type="hpc-domain-metadata:HpcMetadataEntry" 
					         maxOccurs="unbounded" />
				<xsd:element name="createParentCollections" type="xsd:boolean" minOccurs="0" />
				<xsd:element name="parentCollectionMetadataEntries" 
				             type="hpc-domain-metadata:HpcMetadataEntry" 
					         maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
		
	<xsd:complexType name="HpcDataObjectDTO">
		<xsd:sequence>
			<xsd:element name="dataObject" 
			             type="hpc-domain-datamanagement:HpcDataObject" />
			<xsd:element name="metadataEntries" type="hpc-domain-metadata:HpcMetadataEntries" />
			<xsd:element name="transferPercentCompletion" type="xsd:string"
			             minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="HpcDataObjectListDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="dataObjects"
				             	 type="hpc-dto-datamanagement:HpcDataObjectDTO"
					             minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="dataObjectPaths" type="xsd:string"
					             minOccurs="0" maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:element name="page" type="xsd:int" minOccurs="0" />
				<xsd:element name="limit" type="xsd:int" minOccurs="0" />
				<xsd:element name="totalCount" type="xsd:int" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<!-- Permissions DTO -->
	<xsd:element name="HpcEntityPermissionsDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="userPermissions"
				             type="hpc-domain-datamanagement:HpcUserPermission"
					         minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="groupPermissions"
				             type="hpc-domain-datamanagement:HpcGroupPermission"
					         minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="HpcUserPermissionDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="permission" type="hpc-domain-datamanagement:HpcPermission" /> 
				<xsd:element name="userId" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="HpcUserPermissionResponseDTO">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="result" type="xsd:boolean" />
			<xsd:element name="message" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcGroupPermissionResponseDTO">
		<xsd:sequence>
			<xsd:element name="groupName" type="xsd:string" />
			<xsd:element name="result" type="xsd:boolean" />
			<xsd:element name="message" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="HpcEntityPermissionsResponseDTO">
		<xsd:complexType> 
			<xsd:sequence>
				<xsd:element name="userPermissionResponses"
				             type="hpc-dto-datamanagement:HpcUserPermissionResponseDTO"
					         minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="groupPermissionResponses"
				             type="hpc-dto-datamanagement:HpcGroupPermissionResponseDTO"
					         minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Download Request DTO -->
	<xsd:element name="HpcDownloadRequestDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="destination"
				             type="hpc-domain-datatransfer:HpcFileLocation" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<!-- Download Response DTO -->
	<xsd:complexType name="HpcDownloadReceiptDTO">
		<xsd:sequence>
			<xsd:element name="dataTransferRequestId" type="xsd:string" />
			<xsd:element name="destinationLocation" type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="destinationFile" type="hpc-domain-datatransfer:HpcFile" />
			<xsd:element name="result" type="xsd:boolean" />
			<xsd:element name="message" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="HpcDownloadResponseDTO">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element name="downloadReceipt" type="hpc-dto-datamanagement:HpcDownloadReceiptDTO" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="HpcDownloadResponseListDTO">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element name="downloadReceipts" type="hpc-dto-datamanagement:HpcDownloadReceiptDTO" 
			                 minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<!--  Data Object Delete Response DTO -->
	<xsd:element name="HpcDataObjectDeleteResponseDTO">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element name="dataManagementDeleteStatus" type="xsd:boolean" />
			    <xsd:element name="archiveDeleteStatus" type="xsd:boolean" />
			    <xsd:element name="message" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<!--  Data Management Model DTO -->
	<xsd:element name="HpcDataManagementModelDTO">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element name="basePath" type="xsd:string" />
				<xsd:element name="collectionMetadataValidationRules"
				             type="hpc-domain-metadata:HpcMetadataValidationRule"
					         minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="dataObjectMetadataValidationRules"
				             type="hpc-domain-metadata:HpcMetadataValidationRule"
					         minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="dataHierarchy"
				             type="hpc-domain-datamanagement:HpcDataHierarchy" />
			    <xsd:element name="collectionSystemGeneratedMetadataAttributeNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			    <xsd:element name="dataObjectSystemGeneratedMetadataAttributeNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="HpcMetadataAttributesListDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="collectionMetadataAttributes" 
				             type="hpc-domain-metadata:HpcMetadataLevelAttributes"
					         minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="dataObjectMetadataAttributes" 
				             type="hpc-domain-metadata:HpcMetadataLevelAttributes"
					         minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="HpcDataManagementTreeEntry">
		<xsd:sequence>
		    <xsd:element name="path" type="xsd:string" />
			<xsd:element name="dataObjects" type="xsd:string" 
			             minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="subCollections" type="hpc-dto-datamanagement:HpcDataManagementTreeEntry" 
			             minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="HpcDataManagementTreeDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="basePath" type="hpc-dto-datamanagement:HpcDataManagementTreeEntry" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="HpcDataManagementDocListDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="docs" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
</xsd:schema>
