src/hpc-server/hpc-dto/src/main/resources/schema/HpcStaleFiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
 * HpcStaleFiles.xsd
 *
 * Copyright SVG,  Inc.
 * Copyright Leidos Biomedical Research, Inc
 * 
 * Distributed under the OSI-approved BSD 3-Clause License.
 * See http://ncip.github.com/HPC/LICENSE.txt for details.
 *
 * @author <a href="mailto:NCIDataVault@mail.nih.gov">NCI Data Vault</a>
 * @version $Id$
 -->

	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="https://jakarta.ee/xml/ns/jaxb" jxb:version="3.0"
	xmlns:hpc-domain-stalefiles="http://hpc.nci.nih.gov/domain/stalefiles"
	xmlns:hpc-dto-stalefiles="http://hpc.nci.nih.gov/dto/stalefiles"
	targetNamespace="http://hpc.nci.nih.gov/dto/stalefiles" 
	elementFormDefault="unqualified">

	<xsd:import namespace="http://hpc.nci.nih.gov/domain/stalefiles"
		        schemaLocation="HpcStaleFilesTypes.xsd" />

	<!-- Stale Files Pie Chart DTO -->
	<xsd:element name="HpcStalePieChartDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pieChartEntries"
				             type="hpc-domain-stalefiles:HpcStalePieChartEntry"
					         minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Stale Files Bar Chart DTO -->
	<xsd:element name="HpcStaleBarChartDTO">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="barChartEntries"
				             type="hpc-domain-stalefiles:HpcStaleBarChartEntry"
					         minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
