src/hpc-server/hpc-domain-types/src/main/resources/schema/HpcDataTransferTypes.xsd

<!--  
 * HpcDataTransferTypes.xsd
 *
 * Copyright SVG,  Inc.
 * Copyright Leidos Biomedical Research, Inc
 * 
 * Distributed under the OSI-approved BSD 3-Clause License.
 * See http://ncip.github.com/HPC/LICENSE.txt for details.
 *
 * @author <a href="mailto:eran.rosenberg@nih.gov">Eran Rosenberg</a>
 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0"
	xmlns:hpc-domain-datatransfer="http://hpc.nci.nih.gov/domain/datatransfer"
	targetNamespace="http://hpc.nci.nih.gov/domain/datatransfer"
	elementFormDefault="unqualified">

	<xsd:simpleType name="HpcDataTransferUploadStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RECEIVED" />
			<xsd:enumeration
				value="IN_PROGRESS_TO_TEMPORARY_ARCHIVE" />
			<xsd:enumeration value="IN_TEMPORARY_ARCHIVE" />
			<xsd:enumeration value="IN_PROGRESS_TO_ARCHIVE" />
			<xsd:enumeration value="ARCHIVED" />
			<xsd:enumeration value="FAILED" />
			<xsd:enumeration value="DELETE_REQUESTED" />
			<xsd:enumeration value="DELETED" />
			<xsd:enumeration value="DELETE_FAILED" />
			<xsd:enumeration value="RECOVER_REQUESTED" />
			<xsd:enumeration value="URL_GENERATED" />
			<xsd:enumeration value="STREAMING_IN_PROGRESS" />
			<xsd:enumeration value="STREAMING_STOPPED" />
			<xsd:enumeration value="STREAMING_FAILED" />
			<xsd:enumeration value="FILE_SYSTEM_READY" />
			<xsd:enumeration value="FILE_SYSTEM_IN_PROGRESS" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="HpcDataTransferUploadMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GLOBUS" />
			<xsd:enumeration value="S_3" />
			<xsd:enumeration value="GOOGLE_DRIVE" />
			<xsd:enumeration value="GOOGLE_CLOUD_STORAGE" />
			<xsd:enumeration value="SYNC" />
			<xsd:enumeration value="URL_SINGLE_PART" />
			<xsd:enumeration value="URL_MULTI_PART" />
			<xsd:enumeration value="FILE_SYSTEM" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="HpcDataTransferUploadReport">
		<xsd:sequence>
			<xsd:element name="status"
				type="hpc-domain-datatransfer:HpcDataTransferUploadStatus" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="bytesTransferred" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="HpcDataTransferDownloadStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HYPERFILE_STAGING" />
			<xsd:enumeration value="RECEIVED" />
			<xsd:enumeration value="IN_PROGRESS" />
			<xsd:enumeration value="COMPLETED" />
			<xsd:enumeration value="FAILED" />
			<xsd:enumeration value="CANCELED" />
			<xsd:enumeration value="RESTORE_REQUESTED" />
			<xsd:enumeration value="GLOBUS_BUNCHING" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="HpcDataTransferDownloadReport">
		<xsd:sequence>
			<xsd:element name="status"
				type="hpc-domain-datatransfer:HpcDataTransferDownloadStatus" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="bytesTransferred" type="xsd:long" />
			<xsd:element name="permissionDenied" type="xsd:boolean"
				minOccurs="0" />
			<xsd:element name="successfulItems" type="hpc-domain-datatransfer:HpcGlobusTransferItem" 
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="HpcDataTransferType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GLOBUS" />
			<xsd:enumeration value="S_3" />
			<xsd:enumeration value="GOOGLE_DRIVE" />
			<xsd:enumeration value="GOOGLE_CLOUD_STORAGE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="HpcArchiveType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TEMPORARY_ARCHIVE" />
			<xsd:enumeration value="ARCHIVE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="HpcDeepArchiveStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IN_PROGRESS" />
			<xsd:enumeration value="GLACIER" />
			<xsd:enumeration value="DEEP_ARCHIVE" />
			<xsd:enumeration value="DELAYED" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="HpcTieringRequestType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TIER_DATA_OBJECT" />
			<xsd:enumeration value="TIER_COLLECTION" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="HpcCollectionDownloadTaskStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RECEIVED" />
			<xsd:enumeration value="ACTIVE" />
			<xsd:enumeration value="GLOBUS_BUNCHING" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="HpcDownloadTaskType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DATA_OBJECT" />
			<xsd:enumeration value="DATA_OBJECT_LIST" />
			<xsd:enumeration value="COLLECTION" />
			<xsd:enumeration value="COLLECTION_LIST" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="HpcFileLocation">
		<xsd:sequence>
			<xsd:element name="fileContainerId" type="xsd:string" />
			<xsd:element name="fileContainerName" type="xsd:string" />
			<xsd:element name="fileId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcArchive">
		<xsd:sequence>
			<xsd:element name="fileLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="type"
				type="hpc-domain-datatransfer:HpcArchiveType" />
			<xsd:element name="directory" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcFile" />
	<xsd:complexType name="HpcInputStream" />

	<xsd:complexType name="HpcUploadSource">
		<xsd:sequence>
			<xsd:element name="sourceLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcS3Account">
		<xsd:sequence>
			<xsd:element name="accessKey" type="xsd:string" />
			<xsd:element name="secretKey" type="xsd:string" />
			<xsd:element name="region" type="xsd:string" />
			<xsd:element name="url" type="xsd:string" />
			<xsd:element name="pathStyleAccessEnabled" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcStreamingUploadSource">
		<xsd:sequence>
			<xsd:element name="sourceLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="account"
				type="hpc-domain-datatransfer:HpcS3Account" />
			<xsd:element name="accessToken" type="xsd:string" />
			<xsd:element name="sourceURL" type="xsd:string" />
			<xsd:element name="sourceSize" type="xsd:long" minOccurs="0" />
			<xsd:element name="sourceInputStream" type="hpc-domain-datatransfer:HpcInputStream" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcScanDirectory">
		<xsd:sequence>
			<xsd:element name="directoryLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcS3ScanDirectory">
		<xsd:sequence>
			<xsd:element name="directoryLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="account"
				type="hpc-domain-datatransfer:HpcS3Account" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcGoogleScanDirectory">
		<xsd:sequence>
			<xsd:element name="directoryLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="accessToken" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcMultipartUpload">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="parts" type="hpc-domain-datatransfer:HpcUploadPartURL" 
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcUploadPartURL">
		<xsd:sequence>
			<xsd:element name="partNumber" type="xsd:int" />
			<xsd:element name="partUploadRequestURL" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcUploadPartETag">
		<xsd:sequence>
			<xsd:element name="partNumber" type="xsd:int" />
			<xsd:element name="eTag" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcGlobusDownloadDestination">
		<xsd:sequence>
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="destinationOverwrite"
				type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcS3DownloadDestination">
		<xsd:sequence>
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="account"
				type="hpc-domain-datatransfer:HpcS3Account" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="HpcGoogleDownloadDestination">
		<xsd:sequence>
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="accessToken" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcSynchronousDownloadFilter">
		<xsd:sequence>
			<xsd:element name="compressedArchiveType"
				type="hpc-domain-datatransfer:HpcCompressedArchiveType" />
			<xsd:element name="includePatterns" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="patternType"
				type="hpc-domain-datatransfer:HpcPatternType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="HpcCompressedArchiveType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TAR" />
			<xsd:enumeration value="ZIP" />
			<xsd:enumeration value="TGZ" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="HpcDownloadResult">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="COMPLETED" />
			<xsd:enumeration value="FAILED" />
			<xsd:enumeration value="FAILED_PERMISSION_DENIED" />
			<xsd:enumeration value="FAILED_CREDENTIALS_NEEDED" />
			<xsd:enumeration value="CANCELED" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="HpcDataObjectDownloadRequest">
		<xsd:sequence>
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="dataTransferType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="archiveLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="archiveLocationURL" type="xsd:string" />
			<xsd:element name="globusDestination"
				type="hpc-domain-datatransfer:HpcGlobusDownloadDestination" />
			<xsd:element name="s3Destination"
				type="hpc-domain-datatransfer:HpcS3DownloadDestination" />
			<xsd:element name="googleDriveDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="googleCloudStorageDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="fileDestination"
				type="hpc-domain-datatransfer:HpcFile" />
			<xsd:element name="configurationId" type="xsd:string" />
			<xsd:element name="s3ArchiveConfigurationId"
				type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="completionEvent" type="xsd:boolean" />
			<xsd:element name="collectionDownloadTaskId" type="xsd:string" />
			<xsd:element name="size" type="xsd:long" />
			<xsd:element name="sudoPassword" type="xsd:string" />
			<xsd:element name="retryUserId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDataObjectDownloadResponse">
		<xsd:sequence>
			<xsd:element name="downloadTaskId" type="xsd:string" />
			<xsd:element name="dataTransferRequestId" type="xsd:string" />
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="destinationFile"
				type="hpc-domain-datatransfer:HpcFile" />
			<xsd:element name="restoreInProgress" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDataObjectDownloadTask">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="configurationId" type="xsd:string" />
			<xsd:element name="s3ArchiveConfigurationId"
				type="xsd:string" />
			<xsd:element name="dataTransferRequestId"
				type="xsd:string" />
			<xsd:element name="dataTransferType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="dataTransferStatus"
				type="hpc-domain-datatransfer:HpcDataTransferDownloadStatus" />
			<xsd:element name="downloadFilePath" type="xsd:string" />
			<xsd:element name="archiveLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="globusDownloadDestination"
				type="hpc-domain-datatransfer:HpcGlobusDownloadDestination" />
			<xsd:element name="s3DownloadDestination"
				type="hpc-domain-datatransfer:HpcS3DownloadDestination" />
			<xsd:element name="googleDriveDownloadDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="googleCloudStorageDownloadDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="destinationType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="completionEvent" type="xsd:boolean" />
			<xsd:element name="collectionDownloadTaskId" type="xsd:string" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="processed" type="xsd:dateTime" />
			<xsd:element name="percentComplete" type="xsd:int" />
			<xsd:element name="stagingPercentComplete" type="xsd:int" minOccurs="0" />
			<xsd:element name="size" type="xsd:long" />
			<xsd:element name="inProcess" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="restoreRequested" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="s3DownloadTaskServerId" type="xsd:string" />
			<xsd:element name="firstHopRetried" type="xsd:boolean" />
			<xsd:element name="retryUserId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDownloadTaskResult">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="collectionPaths" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="type"
				type="hpc-domain-datatransfer:HpcDownloadTaskType" />
			<xsd:element name="dataTransferRequestId"
				type="xsd:string" />
			<xsd:element name="dataTransferType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="destinationType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="result"
				type="hpc-domain-datatransfer:HpcDownloadResult" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="items"
				type="hpc-domain-datatransfer:HpcCollectionDownloadTaskItem"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="completionEvent" type="xsd:boolean" />
			<xsd:element name="collectionDownloadTaskId" type="xsd:string" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="completed" type="xsd:dateTime" />
			<xsd:element name="effectiveTransferSpeed" type="xsd:int"
				minOccurs="0" />
			<xsd:element name="size" type="xsd:long" minOccurs="0" />
			<xsd:element name="restoreRequested" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="retryTaskId" type="xsd:string" />
			<xsd:element name="retryUserId" type="xsd:string" />
			<xsd:element name="firstHopRetried" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcCollectionDownloadTask">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="configurationId" type="xsd:string" />
			<xsd:element name="dataObjectPaths" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="collectionPaths" type="xsd:string"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="type"
				type="hpc-domain-datatransfer:HpcDownloadTaskType" />
			<xsd:element name="globusDownloadDestination"
				type="hpc-domain-datatransfer:HpcGlobusDownloadDestination" />
			<xsd:element name="s3DownloadDestination"
				type="hpc-domain-datatransfer:HpcS3DownloadDestination" />
			<xsd:element name="googleDriveDownloadDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="googleCloudStorageDownloadDestination"
				type="hpc-domain-datatransfer:HpcGoogleDownloadDestination" />
			<xsd:element name="appendPathToDownloadDestination"
				type="xsd:boolean" />
			<xsd:element name="status"
				type="hpc-domain-datatransfer:HpcCollectionDownloadTaskStatus" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="completed" type="xsd:dateTime" />
			<xsd:element name="items"
				type="hpc-domain-datatransfer:HpcCollectionDownloadTaskItem"
				minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="retryTaskId" type="xsd:string" />
			<xsd:element name="retryUserId" type="xsd:string" />
			<xsd:element name="dataTransferRequestId" type="xsd:string" />
			<xsd:element name="destinationType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcCollectionDownloadTaskItem">
		<xsd:sequence>
			<xsd:element name="dataObjectDownloadTaskId"
				type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="collectionPath" type="xsd:string" />
			<xsd:element name="destinationLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="result"
				type="hpc-domain-datatransfer:HpcDownloadResult" minOccurs="0" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="effectiveTransferSpeed" type="xsd:int"
				minOccurs="0" />
			<xsd:element name="percentComplete" type="xsd:int"
				minOccurs="0" />
			<xsd:element name="size" type="xsd:long" minOccurs="0" />
			<xsd:element name="restoreInProgress" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="stagingInProgress" type="xsd:boolean" minOccurs="0" />
			<xsd:element name="stagingPercentComplete" type="xsd:int" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDownloadTaskStatus">
		<xsd:sequence>
			<xsd:element name="inProgress" type="xsd:boolean" />
			<xsd:element name="dataObjectDownloadTask"
				type="hpc-domain-datatransfer:HpcDataObjectDownloadTask" />
			<xsd:element name="collectionDownloadTask"
				type="hpc-domain-datatransfer:HpcCollectionDownloadTask" />
			<xsd:element name="result"
				type="hpc-domain-datatransfer:HpcDownloadTaskResult" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcUserDownloadRequest">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:string" minOccurs="0" />
			<xsd:element name="taskId" type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="type"
				type="hpc-domain-datatransfer:HpcDownloadTaskType" />
			<xsd:element name="destinationType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="completed" type="xsd:dateTime" />
			<xsd:element name="result"
				type="hpc-domain-datatransfer:HpcDownloadResult" />
			<xsd:element name="items"
				type="hpc-domain-datatransfer:HpcCollectionDownloadTaskItem"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDirectoryScanItem">
		<xsd:sequence>
			<xsd:element name="fileName" type="xsd:string" />
			<xsd:element name="filePath" type="xsd:string" />
			<xsd:element name="lastModified" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="HpcPatternType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SIMPLE" />
			<xsd:enumeration value="REGEX" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="HpcDataObjectDownloadTaskStatusFilter">
		<xsd:sequence>
			<xsd:element name="status" type="hpc-domain-datatransfer:HpcDataTransferDownloadStatus" />
			<xsd:element name="destination" type="hpc-domain-datatransfer:HpcDataTransferType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcArchiveObjectMetadata">
		<xsd:sequence>
			<xsd:element name="checksum" type="xsd:string" />
			<xsd:element name="restorationStatus" type="xsd:string" />
			<xsd:element name="deepArchiveStatus" type="hpc-domain-datatransfer:HpcDeepArchiveStatus" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcGlobusTransferItem">
		<xsd:sequence>
			<xsd:element name="sourcePath" type="xsd:string" />
			<xsd:element name="destinationPath" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcGlobusTransferRequest">
		<xsd:sequence>
			<xsd:element name="sourceEndpoint" type="xsd:string" />
			<xsd:element name="destinationEndpoint" type="xsd:string" />
			<xsd:element name="items" type="hpc-domain-datatransfer:HpcGlobusTransferItem" 
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
