src/hpc-server/hpc-domain-model/src/main/resources/schema/HpcDataManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
 * HpcDataManagement.xsd
 *
 * Copyright SVG,  Inc.
 * Copyright Leidos Biomedical Research, Inc
 * 
 * Distributed under the OSI-approved BSD 3-Clause License.
 * See http://ncip.github.com/HPC/LICENSE.txt for details.
 *
 * @author <a href="mailto:eran.rosenberg@nih.gov">Eran Rosenberg</a>
 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0"
	xmlns:hpc-domain-datamanagement="http://hpc.nci.nih.gov/domain/datamanagement"
	xmlns:hpc-domain-metadata="http://hpc.nci.nih.gov/domain/metadata"
	xmlns:hpc-domain-datatransfer="http://hpc.nci.nih.gov/domain/datatransfer"
	xmlns:hpc-domain-user="http://hpc.nci.nih.gov/domain/user"
	xmlns:hpc-domain-model="http://hpc.nci.nih.gov/domain/model"
	targetNamespace="http://hpc.nci.nih.gov/domain/model"
	elementFormDefault="unqualified">

	<xsd:import
		namespace="http://hpc.nci.nih.gov/domain/datamanagement"
		schemaLocation="HpcDataManagementTypes.xsd" />
	<xsd:import
		namespace="http://hpc.nci.nih.gov/domain/metadata"
		schemaLocation="HpcMetadataTypes.xsd" />
	<xsd:import
		namespace="http://hpc.nci.nih.gov/domain/datatransfer"
		schemaLocation="HpcDataTransferTypes.xsd" />
	<xsd:import namespace="http://hpc.nci.nih.gov/domain/user"
		schemaLocation="HpcUserTypes.xsd" />

	<xsd:complexType name="HpcDataTransferConfiguration">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="urlOrRegion" type="xsd:string" />
			<xsd:element name="archiveProvider"
				type="hpc-domain-user:HpcIntegratedSystem" />
			<xsd:element name="baseArchiveDestination"
				type="hpc-domain-datatransfer:HpcArchive" />
			<xsd:element name="baseDownloadSource"
				type="hpc-domain-datatransfer:HpcArchive" />
			<xsd:element name="uploadRequestURLExpiration"
				type="xsd:int" minOccurs="0" />
			<xsd:element name="tieringBucket" type="xsd:string" />
			<xsd:element name="tieringProtocol" type="xsd:string" />
			<xsd:element name="encryptionKey" type="xsd:string" />
			<xsd:element name="encryptionAlgorithm" type="xsd:string" />
			<xsd:element name="encryptedTransfer" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="HpcDataManagementConfiguration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:string" />
				<xsd:element name="doc" type="xsd:string" />
				<xsd:element name="basePath" type="xsd:string" />
				<xsd:element name="archiveDataTransferType"
					type="hpc-domain-datatransfer:HpcDataTransferType" />
				<xsd:element name="s3UploadConfigurationId" type="xsd:string" />
				<xsd:element name="s3DefaultDownloadConfigurationId" type="xsd:string" />
				<xsd:element name="globusConfiguration"
					type="hpc-domain-model:HpcDataTransferConfiguration" />
				<xsd:element name="collectionMetadataValidationRules"
					type="hpc-domain-metadata:HpcMetadataValidationRule" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element name="dataObjectMetadataValidationRules"
					type="hpc-domain-metadata:HpcMetadataValidationRule" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element name="dataHierarchy"
					type="hpc-domain-datamanagement:HpcDataHierarchy" />
				<xsd:element name="createArchiveMetadata" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType
		name="HpcDataObjectRegistrationRequest">
		<xsd:sequence>
			<xsd:element name="globusUploadSource"
				type="hpc-domain-datatransfer:HpcUploadSource" />
			<xsd:element name="s3UploadSource"
				type="hpc-domain-datatransfer:HpcStreamingUploadSource" />
			<xsd:element name="googleDriveUploadSource"
				type="hpc-domain-datatransfer:HpcStreamingUploadSource" />
			<xsd:element name="fileSystemUploadSource"
				type="hpc-domain-datatransfer:HpcUploadSource" />
			<xsd:element name="linkSourcePath" type="xsd:string" />
			<xsd:element name="callerObjectId" type="xsd:string" />
			<xsd:element name="metadataEntries"
				type="hpc-domain-metadata:HpcMetadataEntry" maxOccurs="unbounded" />
			<xsd:element name="createParentCollections"
				type="xsd:boolean" minOccurs="0" />
			<xsd:element name="parentCollectionsBulkMetadataEntries"
				type="hpc-domain-metadata:HpcBulkMetadataEntries" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="HpcBulkDataObjectRegistrationItem">
		<xsd:sequence>
			<xsd:element name="task"
				type="hpc-domain-datamanagement:HpcDataObjectRegistrationTaskItem" />
			<xsd:element name="request"
				type="hpc-domain-model:HpcDataObjectRegistrationRequest" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType
		name="HpcBulkTierItem">
		<xsd:sequence>
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="configurationId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="HpcBulkTierRequest">
		<xsd:sequence>
			<xsd:element name="items"
				type="hpc-domain-model:HpcBulkTierItem"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType
		name="HpcBulkDataObjectRegistrationTask">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="uiURL" type="xsd:string" />
			<xsd:element name="status"
				type="hpc-domain-datamanagement:HpcBulkDataObjectRegistrationTaskStatus" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="items"
				type="hpc-domain-model:HpcBulkDataObjectRegistrationItem"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="HpcBulkDataObjectRegistrationResult">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="result" type="xsd:boolean" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="completed" type="xsd:dateTime" />
			<xsd:element name="effectiveTransferSpeed" type="xsd:int"
				minOccurs="0" />
			<xsd:element name="items"
				type="hpc-domain-model:HpcBulkDataObjectRegistrationItem"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType
		name="HpcBulkDataObjectRegistrationStatus">
		<xsd:sequence>
			<xsd:element name="inProgress" type="xsd:boolean" />
			<xsd:element name="task"
				type="hpc-domain-model:HpcBulkDataObjectRegistrationTask" />
			<xsd:element name="result"
				type="hpc-domain-model:HpcBulkDataObjectRegistrationResult" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType
		name="HpcDataObjectRegistrationResult">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" />
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="result" type="xsd:boolean" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="created" type="xsd:dateTime" />
			<xsd:element name="completed" type="xsd:dateTime" />
			<xsd:element name="uploadMethod" 
				type="hpc-domain-datatransfer:HpcDataTransferUploadMethod" />
			<xsd:element name="effectiveTransferSpeed" 
				type="xsd:int" minOccurs="0" />
			<xsd:element name="dataTransferRequestId"
				type="xsd:string" />
			<xsd:element name="sourceLocation" type="hpc-domain-datatransfer:HpcFileLocation" />	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcDataObjectUploadRequest">
		<xsd:sequence>
			<xsd:element name="path" type="xsd:string" />
			<xsd:element name="dataObjectId" type="xsd:string" />
			<xsd:element name="callerObjectId" type="xsd:string" />
			<xsd:element name="userId" type="xsd:string" />
			<xsd:element name="globusUploadSource"
				type="hpc-domain-datatransfer:HpcUploadSource" />
			<xsd:element name="s3UploadSource"
				type="hpc-domain-datatransfer:HpcStreamingUploadSource" />
			<xsd:element name="googleDriveUploadSource"
				type="hpc-domain-datatransfer:HpcStreamingUploadSource" />
			<xsd:element name="fileSystemUploadSource"
				type="hpc-domain-datatransfer:HpcUploadSource" />
			<xsd:element name="sourceFile"
				type="hpc-domain-datatransfer:HpcFile" />
			<xsd:element name="generateUploadRequestURL"
				type="xsd:boolean" />
			<xsd:element name="uploadParts"
				type="xsd:int" minOccurs="0" />
			<xsd:element name="uploadRequestURLChecksum"
				type="xsd:string" />
			<xsd:element name="sourceSize" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="sourcePermissions"
				type="hpc-domain-datamanagement:HpcPathPermissions" />
			<xsd:element name="sudoPassword" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcDataObjectUploadResponse">
		<xsd:sequence>
			<xsd:element name="dataTransferRequestId"
				type="xsd:string" />
			<xsd:element name="uploadRequestURL" type="xsd:string" />
			<xsd:element name="multipartUpload" 
				type="hpc-domain-datatransfer:HpcMultipartUpload" />
			<xsd:element name="uploadSource"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="archiveLocation"
				type="hpc-domain-datatransfer:HpcFileLocation" />
			<xsd:element name="dataTransferStatus"
				type="hpc-domain-datatransfer:HpcDataTransferUploadStatus" />
			<xsd:element name="dataTransferMethod"
				type="hpc-domain-datatransfer:HpcDataTransferUploadMethod" />
			<xsd:element name="dataTransferType"
				type="hpc-domain-datatransfer:HpcDataTransferType" />
			<xsd:element name="dataTransferStarted"
				type="xsd:dateTime" />
			<xsd:element name="dataTransferCompleted"
				type="xsd:dateTime" />
			<xsd:element name="sourceSize" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="sourceURL" type="xsd:string" />
			<xsd:element name="sourcePermissions"
				type="hpc-domain-datamanagement:HpcPathPermissions" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcDistinguishedNameSearch">
		<xsd:sequence>
			<xsd:element name="basePath" type="xsd:string" />
			<xsd:element name="userSearchBase" type="xsd:string" />
			<xsd:element name="groupSearchBase" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
