src/hpc/hpc-server/hpc-domain-types/src/main/resources/schema/HpcMetadataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
 * HpcMetadataTypes.xsd
 *
 * Copyright SVG,  Inc.
 * Copyright Leidos Biomedical Research, Inc
 * 
 * Distributed under the OSI-approved BSD 3-Clause License.
 * See http://ncip.github.com/HPC/LICENSE.txt for details.
 *
 * @author <a href="mailto:eran.rosenberg@nih.gov">Eran Rosenberg</a>
 * @version $Id$
 -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0"
	xmlns:hpc-domain-metadata="http://hpc.nci.nih.gov/domain/metadata"
	targetNamespace="http://hpc.nci.nih.gov/domain/metadata"
	elementFormDefault="unqualified">

	<xsd:complexType name="HpcMetadataItem">
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcFilePrimaryMetadata">
		<xsd:sequence>
			<xsd:element name="dataContainsPII" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="dataContainsPHI" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="dataEncrypted" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="dataCompressed" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="fundingOrganization" type="xsd:string" />
			<xsd:element name="primaryInvestigatorNihUserId" type="xsd:string" />
			<xsd:element name="creatorName" type="xsd:string" />
			<xsd:element name="registrarNihUserId" type="xsd:ID" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="labBranch" type="xsd:string" />
			<xsd:element name="metadataItems" 
			             type="hpc-domain-metadata:HpcMetadataItem"
				         minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HpcFileMetadata">
		<xsd:sequence>
			<xsd:element name="primaryMetadata"
				type="hpc-domain-metadata:HpcFilePrimaryMetadata" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="HpcProjectMetadata">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="primaryInvestigatorNihUserId" type="xsd:ID" />
			<xsd:element name="registratorNihUserId" type="xsd:ID" />
			<xsd:element name="doc" type="xsd:string" />
			<xsd:element name="labBranch" type="xsd:string" />
			<xsd:element name="fundingOrganization" type="xsd:string" />
			<xsd:element name="internalProjectId" type="xsd:string" />
			<xsd:element name="experimentId" type="xsd:string" />
			<xsd:element name="metadataItems" 
			             type="hpc-domain-metadata:HpcMetadataItem"
				         minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="HpcProjectType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UNKONWN" />
			<xsd:enumeration value="SEQUENCING" />
			<xsd:enumeration value="ANALYSIS" />
		</xsd:restriction>
	</xsd:simpleType>	
</xsd:schema>
